body {
  color: rgb(7, 4, 4);
  min-height: 100vh; 
  min-width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(#C8003A, #FF5632, #FFC301)
}

/* ==================================
Containers 
===================================*/
.container {
  display: block;
  max-width: 65%;
}

/* ==================================
Font Sharers
===================================*/
.info, .quiz {
  font-family: 'Open Sans', sans-serif;
}

/* ==================================
Header
===================================*/
.title {
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 7em;
  text-align: center;
  padding-top: .5em;  
}

.info {
  color: black;
  font-size: 1.5em;
  padding-top: 1.9em;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: black;
}

/* ==================================
Questions
===================================*/
.quiz {
  border: 2px solid white;
  margin-top: 60px;
  padding-top: 12px;
  /* background-color: #5296A5; */
  /* background-image: linear-gradient( #5296A5, #82DDF0) */
}

.justify-content-between {
  margin: .9em 1.25em 1.4em 1.25em;
}

.question {
  color: black;
  background-color: #FFC301;
  border: 2px solid white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}

.w-100 {
  margin-bottom: 20px;
}

.optbox {
  border: 2px solid white;
  float: left;
  padding: 15px;
  height: 150px;
  font-size: 1.4em;
}

.optbox:hover {
  background-color: #C8003A;
  cursor: pointer;
}

.opt {
  background-color: #FF5632;
}

.selectedOpt {
  background-color: rgb(167, 68, 68);
}

input {
  position: fixed;
  opacity: 0;
}

.anstext {
  color: white;
  text-align: center;
  margin: 2px;
}

/* ==================================
Submit
===================================*/
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #82DDF0;
  border: #82DDF0;
}

.btn:hover {
  background-color: #5296A5;
  cursor: pointer;
}

/* ==================================
Alert
===================================*/
.alert {
  background-color: rgb(190, 189, 189);
  border: rgb(190, 189, 189);
  color: white;
  text-align: center;
  font-size: 2em;
}

/* ==================================
Question Backgrounds
===================================*/
.back1 {
  background-image: url('pics/red-rock-canyon1.jpg')
}

.back2 {
  background-image: url('pics/red-rock-canyon-time-lapse-6.jpg')
}

.back3 {
background-image: url('pics/roc4.jpg')
}

.back4 {
background-image: url('pics/roc1.jpg')
}

.back5 {
background-image: url('pics/roc3.jpg')
}