body {
  color: rgb(7, 4, 4);
  min-height: 100vh; 
  min-width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("todd-downs-13325.jpg")
  /* background-image:
  linear-gradient(
    #C8003A, #FF5632, #FFC301
  ); */
}

/* Containers */
.main {
  display: block;
  max-width: 50%;
}

/* Font Sharers */
.info, .quiz {
  font-family: 'Open Sans', sans-serif;
}

/* Header */
.title {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 7em;
  text-align: center;
  padding-top: .5em;  
}

.info {
  color: white;
  font-size: 1.5em;
  padding-top: 1.9em;
  text-align: center;
}

/* Question Containers */

.quiz {
  border: 2px solid white;
  margin-top: 60px;
  padding-top: 12px;
}

.question {
  color: white;
  background-color: rgb(238, 204, 204);
  border: 2px solid white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 7px;
  margin-left: 12px;
  margin-right: 12px;
}

.optbox {
  border: 2px solid white;
  width: 11.6em;
  height: 8em;
  float: left;
  margin: 1.3em;
  padding: 15px;
}

.opt {
  background-color: rgb(172, 130, 130);
}

.selectedOpt {
  background-color: grey;
}

input {
  position: fixed;
  opacity: 0;
}

.anstext {
  color: white;
  text-align: center;
  margin: 2px;
}

